@mixin logo {
  position: relative;
  margin: auto;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  background-color: $accentColor2;
  padding: 15px;
  width: 60%;
  margin: 5% 5%;
  border-radius: $radius;
  font-size: 1.2em;
  font-weight: bold;
}

header>#hero-logo {
  top: 40px;
  height: 25vh;
  background-image: url(../images/navyicontop.png);
  @include logo;
}

header>#side-logo {
  top: 60px;
  height: 10vh;
  background-image: url(../images/navyiconsideways.png);
  @include logo;
}

a {
  color: $offWhite;
  outline: none;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: $backgroundColor;
}

.intro {
  margin: 5%;
}

#desktop-nav {
  display: none;
}

.no-background {
  background-color: transparent;
  margin-top: -7.5%;
}

.section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}

section ul li {
  margin: 2%;
}

.section form {
  display: flex;
  justify-content: space-evenly;
}

.section h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0px 2%;
}

.half-section h1 {
  font-size: 1.25em;
  margin-bottom: 25px;
}

.section select {
  font-size: 1.25em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 50%;
  margin: 0px 2%;
}

.news {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.news img {
  width: 50%;
  max-height: 200px;
}

.news h3 {
  font-weight: bold;
  font-size: 1.25em;
  margin: 10px 20px;
  text-align: left;
}

.news h4 > span {
  font-style: italic;
  margin-bottom: 10px;
}

.news p {
  text-align: left;
  margin: 10px 20px;
}

.news p > a {
  color: $mainColor;
  text-decoration: underline;
}

aside > article {
  width: 100%;
  background-color: $backgroundColor;
  margin: auto;
  padding: 10px;
  border-radius: $radius;
  margin-bottom: 5%;
  text-align: left;
  overflow: hidden;
}

aside > article img {
  max-width: 15%;
  margin-top: 5px;
  float: left;
  border-radius: 5px;
}

aside > article > div {
  width: 90%;
  float: right;
  padding: 5px;
}

aside > article  h2 {
  font-weight: bold;
}

aside h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 5%;
}

.half-section article {
  display: flex;
  align-items: center;
}

.half-section article img {
  margin: 10px;
  max-width: 20%;
  border-radius: $radius;
}

.half-section article p {
  margin: 5px;
  text-align: left;
}

.chart p {
  margin-top: 20px;
}

.chart p:last-of-type {
  margin-bottom: -40px;
}

.chart ul {
  margin-top: -25px;
}

.chart ul li {
  margin: 1%;
}

.candidates li {
  width: 100%;
  padding: 2%;
  text-align: left;
  background-color: $backgroundColor;
  border-radius: $radius;
  margin: 1%;
}

.candidates li h2 {
  font-weight: bold;
  text-align: center;
  color: $mainColor;
}

.candidates li p {
  margin: 10px 5px 0px 5px;
}

@media (min-width:960px) {
  #hamburger-nav {
    display: none;
  }

  #desktop-nav {
    display: block;
  }

  header ul {
    overflow: hidden;
    background-color: $accentColor1;
  }

  header a:first-child {
    float: left;
    padding: 15px 30px;
  }

  header a {
    float: right;
    padding: 15px 30px;
    margin: 1px;
    font-size: 1.2em;
  }

  .selected {
    background-color: $mainColor;
  }

  .selected li {
    color: $accentColor1;
  }

  header > #hero-logo {
    margin: 3% auto;
    top: 10px;
  }

  header>#side-logo {
    margin: 3% auto;
    top: -10px;
  }

  .intro {
    margin: 1%;
  }

  section ul li {
    margin: 0%;
  }  

  button {
    padding: 15px;
    width: 25%;
    margin: 2% 5%;
  }

  #person-icon {
    background-image: url("../images/navypersonicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 15px;
    width: 25%;
    height: 100px;
    margin: 0px 5%;
  }

  #people-icon {
    background-image: url("../images/navypeopleicon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 15px;
    width: 25%;
    height: 100px;
    margin: 0px 5%;
  }

  .news {
    flex-wrap: nowrap;
  }
  
  .news img {
    width: 30%;
  }
  
  .news h3 {
    text-align: center;
  }

  .chart p:last-of-type {
    margin-bottom: -70px;
  }

  .chart ul {
    margin-top: -50px;
  }

  .candidates li {
    width: 30%;
  }

  aside > article > div {
    width: 80%;
  }
}