
$mainColor : #3ABD91;
$accentColor1 : #1C324A;
$accentColor2 : #FFCC5D;
$backgroundColor : #d6d6d6;
$offWhite : #fafafa;
$radius : 25px;
// $borderColor : #555;

// $titleFont: "Acme", sans-serif;
// $mainFont: "Josefin Sans", sans-serif;